/**
 *
 * STYLE: ASM GLOBAL
 *
 */

// GRAVITY REGISTRATION / SIGNUP FORM
// Moved to /contents/page/_page-selflist-signup.scss
// Re-enabled to for HMU

.selflist-signup-gravity-form,
.selflist-hmu-gravity-form {
  // border: 2px dotted red;
  margin-top: -4rem !important;

  input {
    border: 1px solid red;
    border-radius: 10px;
    // box-shadow: 1px 1px 6px gray;
    position: relative;

    &::placeholder {
      // border: 3px dotted red;
      line-height: 0rem;
    }
  }
  textarea {
    border: 1px solid red;
    border-radius: 10px;
    // box-shadow: 1px 1px 6px gray;
  }
  #gform_submit_button_4,
  #gform_submit_button_6 {
    background-color: darken($color: red, $amount: 10%) !important;
    margin: auto !important;
    display: block;
  }
  .gform_footer {
    margin-top: 2rem !important;
  }
  // THE EMAIL TO INPUT
  #input_6_4 {
    margin-bottom: 0.9rem;
  }
  // FIRST & LAST NAME
  #field_6_1 {
    margin-bottom: -1.1rem;
  }
  .dashicons.dashicons-visibility,
  .dashicons.dashicons-hidden {
    // border: 4px dotted blue;
    margin-top: 0.8rem;

    @media (max-width: 641px) {
      margin-top: 2.25rem;
    }
  }
}

// REVERSE AUCTION FORM
// #gform_wrapper_6 {
// border: 1rem dotted red;
.gform_validation_errors.validation_error {
  display: none !important;
}
.gfield_description.validation_message.gfield_validation_message {
  // display: none !important;
}
// }
