/**
 * SLEFLIST HERDERS
 */
// NEW LOGOUT OR EXIT BUTTON
#logout-btn {
  // border: 2px dotted yellow;

  @media (max-width: 429px) {
    // border: 2px dotted yellow;
    position: relative;
    z-index: 1000;
    float: left !important;
    margin-left: 0rem !important;
    margin-top: 0rem !important;
    font-size: 0.8rem !important;
    // margin-top: -32px !important;
  }
  @media (max-width: 413px) {
    margin-top: -24px !important;
    margin-left: 3rem !important;
  }
}

// HEADER HOME
#header-home {
  margin-top: 8rem;
  // border: 3px dotted yellow;
  @media (max-width: 429px) {
    margin-top: 3rem;
  }

  .logo-container {
    a {
      img {
        width: 58%;
      }
    }
  }

  .link-box {
    width: 85%;
  }

  a.list-links {
    // border: 4px dotted red;
    font-size: 2.7rem;
    font-weight: 700;
    padding-top: 2rem;
    color: red;
  }
}
