/**
 * SLEFLIST HERDERS
 */
// LOGOUT BUTTON
#logout-btn {
  font-size: 0.7rem !important;
}
#support-btn {
  font-size: 0.7rem !important;
  margin-left: 3rem;
}

// HEADER HOME
#header-home {
  margin-top: 8rem;
  // border: 3px dotted yellow;
  @media (max-width: 450px) {
    margin-top: 3rem;
  }

  .logo-container {
    a {
      img {
        width: 58%;
      }
    }
  }

  .link-box {
    width: 85%;
  }

  a.list-links {
    // border: 4px dotted red;
    font-size: 2.7rem;
    font-weight: 700;
    padding-top: 2rem;
    color: red;
  }
}
