/**
 *
 * STYLE: Selflist Signup Page
 *
 */

.page-template-template-list-signup {
  // border: 1rem dotted dodgerblue;
  #moose-enter-btn {
    // border: 1rem dotted yellow;
    background-color: #ff4136 !important;
    margin: auto !important;
    display: block;
    box-shadow: none;
    padding: 0.4rem 3.5rem !important;
    border-radius: 5px !important;
    font-size: 1.25rem !important;
    width: 180px !important;
  }
  .login-heading {
    border: 5px dotted green;
    font-size: 1.5rem;

    @media (min-width: 700px) {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    @media (min-width: 1200px) {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  }
  .signup-heading {
    border: 5px dotted green;
    font-size: 2rem;
    margin-bottom: 3rem;

    @media (min-width: 700px) {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
    @media (min-width: 1200px) {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }
  // GRAVITY REGISTRATION / SIGNUP FORM

  .selflist-signup-gravity-form,
  .selflist-hmu-gravity-form {
    // border: 2px dotted red;
    margin-top: -4rem !important;

    input {
      border: 1px solid red;
      border-radius: 10px;
      box-shadow: 1px 1px 6px gray;
    }
    textarea {
      border: 1px solid red;
      border-radius: 10px;
      box-shadow: 1px 1px 6px gray;
    }
    #gform_submit_button_4,
    #gform_submit_button_6 {
      // border: 1rem dotted yellow;
      background-color: #ff4136 !important;
      margin: auto !important;
      display: block;
      box-shadow: none;
      padding: 0rem 3.5rem !important;
      border-radius: 5px !important;
      font-size: 1.25rem !important;
      font-weight: 300 !important;
      width: 180px !important;
    }
    @media (min-width: 642px) {
      #gform_submit_button_4 {
        padding: 0.4rem 3.5rem !important;
      }
    }
    .gform_footer {
      margin-top: 2rem !important;
    }

    #input_4_3_container {
      padding-top: 0.5rem;
    }

    .ginput_container_password button {
      -webkit-appearance: none;
      appearance: none;
      background: 0 0;
      border: none;
      padding: 5px 0;
      position: absolute;
      right: 1px;
      text-align: center;
      top: -15px;
      width: 40px;
    }
  }
}
