/**
 *
 * STYLE: Page Selflist List Index
 *
 */

.page-template-template-list-search-index {
  border: 1rem dotted red;
  // border: 1rem dotted green;
  .selflist-search-input-box {
    // border: 4px dotted red;
    background-color: red;
    height: 5rem !important;

    .selflist-search-input {
      height: 5rem !important;
      width: 87% !important;
      font-size: 2.5rem;
      font-weight: 600;
      color: white;
      padding-left: 1rem;
      caret-color: white;
      background-color: red;
      border-color: red;
      &:focus {
        outline: 1px dashed red;
      }
      &::placeholder {
        color: lighten($color: gray, $amount: 15%);
      }
    }
    .fas.fa-search {
      font-size: 3rem;
      float: right;
      color: white;
      padding-right: 1rem;
      padding-top: 1rem;
    }
  }
  .selflist-search-result-box {
    // border: 4px dotted red;
    margin-top: 2rem;
  }
}
