/**
 *
 * WooCom Global General Styles
 *
 */
// REMOVING : FROM THE CART ITEM LABELS ON MOBILE
.woocommerce table.shop_table_responsive tr td::before,
.woocommerce-page table.shop_table_responsive tr td::before {
  @media (max-width: 768px) {
    content: attr(data-title) ' ';
  }
  // border: 5px dotted dodgerblue;
}
// (MY ACCOUNT) LOST PASSWORD PAGE
// After WooCom installation WP Lost Password page is taken over
// by WooCom Lost Pasword page
.woocommerce-ResetPassword {
  // display: none;
  // border: 1rem dotted red;
}

// THIS IS THE "PASSWORD RESET EMAIL HAS BEEN SENT" PAGE
.page-template-default.page.page-id-670 {
  // border: 1rem dotted red;
  p {
    display: none;
  }
  p.woocommerce-form-row.woocommerce-form-row--first.form-row.form-row-first,
  p.woocommerce-form-row.form-row {
    display: block !important;
  }
}

// CHECKOUT PAGE

// Checkout Button
.checkout-button.button {
  background: $cg-secondary !important;
}
// Proceed to PayPal Button
#place_order {
  background: $cg-secondary !important;
}

// Removing PayPal Description & Privacy policy text from checkout page
.woocommerce-terms-and-conditions-wrapper,
.payment_box.payment_method_paypal {
  display: none !important;
}
.payment_method_paypal {
  margin-top: 1rem !important;
}

// General Form Inputs

.woocommerce-input-wrapper {
  width: 100% !important;
  input {
    width: 100% !important;
    border: 1px solid lighten(gray, 15%);
    padding: 0.5rem;
  }
  textarea {
    border: 1px solid lighten(gray, 15%);
  }
}

// General Order Review

#order_review {
  // border: 1px solid blue;

  .shop_table.woocommerce-checkout-review-order-table {
    // border: 1px solid red;
  }

  #payment {
    // THE VISA CARD IMAGES - MAKING INLINE
    ul {
      li {
        label[for*='payment_method_stripe'] {
          // border: 4px solid green;
          padding-top: 1rem;
          img {
            display: inherit;
          }
        }
      }
    }

    .stripe-card-group {
      width: 100%;
    }

    .wc-stripe-elements-field {
      width: 100%;
    }
  }
}

/**
 *
 * My Account General Styles
 *
 */
.woocommerce {
  .woocommerce-MyAccount-navigation {
    height: 45vh;

    ul {
      list-style: none;
      li {
        padding: 1rem;
        border: 1px solid #e3e3e3;
      }
    }
  }

  .woocommerce-EditAccountForm.edit-account {
    input {
      padding: 0.5rem;
      border: 1px solid lighten(gray, 15%);
    }
  }
}
