/**
 *
 * WooCom Global General Styles
 *
 */
// (MY ACCOUNT) LOST PASSWORD PAGE
// After WooCom installation WP Lost Password page is taken over
// by WooCom Lost Pasword page
.woocommerce-ResetPassword {
  // display: none;
  // border: 1rem dotted red;
}

// CHECKOUT PAGE

// General Form Inputs

.woocommerce-input-wrapper {
  width: 100% !important;
  input {
    width: 100% !important;
    border: 1px solid lighten(gray, 15%);
    padding: 0.5rem;
  }
  textarea {
    border: 1px solid lighten(gray, 15%);
  }
}

// General Order Review

#order_review {
  // border: 1px solid blue;

  .shop_table.woocommerce-checkout-review-order-table {
    // border: 1px solid red;
  }

  #payment {
    // THE VISA CARD IMAGES - MAKING INLINE
    ul {
      li {
        label[for*='payment_method_stripe'] {
          // border: 4px solid green;
          padding-top: 1rem;
          img {
            display: inherit;
          }
        }
      }
    }

    .stripe-card-group {
      width: 100%;
    }

    .wc-stripe-elements-field {
      width: 100%;
    }
  }
}

/**
 *
 * My Account General Styles
 *
 */
.woocommerce {
  .woocommerce-MyAccount-navigation {
    height: 45vh;

    ul {
      list-style: none;
      li {
        padding: 1rem;
        border: 1px solid #e3e3e3;
      }
    }
  }

  .woocommerce-EditAccountForm.edit-account {
    input {
      padding: 0.5rem;
      border: 1px solid lighten(gray, 15%);
    }
  }
}
